.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  border: none;
  font-size: 1rem;
  min-width: 100px;
  max-width: 300px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  font-family: $font-text;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
    border-radius: 8px;
  }

  &:disabled {
    text-decoration: none;
  }

  &--primary {
    background-color: $color-primary;
    color: $color-white;
  }

  &--secondary {
    background-color: $color-white;
    color: $color-black;
    border: solid 1px $color-white;
  }

  &--danger {
    background-color: $color-danger;
    color: $color-white;
  }
}
