.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  min-width: 100px;
  max-width: 300px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  font-family: $font-text;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
    border-radius: 8px;
  }

  &:disabled {
    text-decoration: none;
  }

  &--primary {
    background-color: $color-primary;
    border-color: $color-primary;
    color: $color-white;

    &--empty {
      background-color: $color-white;
      border-color: $color-primary;
      color: $color-primary;
    }
  }

  &--danger {
    background-color: $color-danger;
    border-color: $color-danger;
    color: $color-white;

    &--empty {
      background-color: $color-white;
      border-color: $color-danger;
      color: $color-danger;
    }
  }
}
