label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 600;
}

input {
  border: solid 2px $color-primary;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 0.875rem;
  color: $color-grey;
  font-family: $font-text;

  &:focus {
    border-color: $color-primary;
    box-shadow: none;
    outline: 0 none;
  }

  &::placeholder {
    font-size: 0.875rem;
    color: $color-grey;
    font-family: $font-text;
  }
}

select {
  border: solid 2px $color-primary;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 0.875rem;
  color: $color-grey;
  font-family: $font-text;

  &:focus {
    border-color: $color-primary;
    box-shadow: none;
    outline: 0 none;
  }

  &::placeholder {
    font-size: 0.875rem;
    color: $color-grey;
    font-family: $font-text;
  }
}

textarea {
  border: solid 2px $color-primary;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 0.875rem;
  color: $color-grey;
  font-family: $font-text;

  &:focus {
    border-color: $color-primary;
    box-shadow: none;
    outline: 0 none;
  }

  &::placeholder {
    font-size: 0.875rem;
    color: $color-grey;
    font-family: $font-text;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
