/* HEADINGS */
h1 {
  font-size: 3rem;
  line-height: 1;
  font-weight: 700;
  font-family: $font-heading;
}

h2 {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: 700;
  font-family: $font-heading;
}

h3 {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 500;
  font-family: $font-heading;
}

/* TEXTS */
p {
  font-size: 1rem;
  font-weight: 400;
  font-family: $font-text;
  color: $color-black;
}

.secondary {
  font-size: 1rem;
  font-weight: 400;
  font-family: $font-text;
  color: $color-grey;
}

.tertiary {
  font-size: 0.875rem;
  font-family: $font-text;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-grey;
}

.subheading {
  font-size: 1.125rem;
  font-family: $font-text;
  font-weight: 500;
  color: $color-black;

  &--grey {
    color: $color-grey;
  }
}

/* TEXT COLORS */
.color-primary {
  color: $color-primary !important;
}

.color-secondary {
  color: $color-secondary !important;
}

.color-black {
  color: $color-black !important;
}

.color-white {
  color: $color-white !important;
}

.color-grey {
  color: $color-grey !important;
}

.color-danger {
  color: $color-danger !important;
}
.capitalize {
  text-transform: capitalize;
}
