/* COLORS */
$color-primary: #ffb55e;
$color-secondary: #ff9996;
$color-black: #4e4d53;
$color-white: #fcf6f2;
$color-grey: #7b7070;
$color-danger: #f23c3c;
$color-green: green;

/* FONTS */
$font-heading: "Bree Serif", serif;
$font-text: "Montserrat", sans-serif;

/* BREAKPOINTS */
$mobile: 767px;
$tablet: 991px;
$desktop: $tablet + 1px;
