/* COLORS */
$color-primary: #ffd464;
$color-secondary: #ff9996;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #c4c4c4;
$color-danger: #f23c3c;

/* FONTS */
$font-heading: "Montserrat", sans-serif;
$font-text: "Montserrat", sans-serif;

/* BREAKPOINTS */
$mobile: 767px;
$tablet: 991px;
$desktop: $tablet + 1px;
